* {
    margin-left:10px;
    margin-right:10px;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh; 
    padding: 10px;
}

.left-nav {
    display: flex;
    flex-direction: column;
    width: 200px; 
}

.left-nav ul {
    list-style: disc;
}

.left-nav ul li {
    margin-bottom: 10px;
    list-style: disc;
}

.left-nav ul li a {
    text-decoration: none;
    color:blue;
}

.right-nav {
    display: flex;
    flex-direction: row;
}

.right-nav ul {
    display: flex;
    list-style: none;
}

.right-nav ul li {
    margin-left: 20px;
}

.right-nav ul li a {
    text-decoration: none;
    color:blue;
}

.arrow {
    font-size: 200px; 
    text-align: center;
    flex: 1;
}
